.dialog {
    margin: auto;
    border: none;
    border-radius: 0.5rem;
    width: 70%;
    max-width: 800px;
    height: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1s;
    overflow: hidden;
}

.dialogContentBox {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    padding-inline: 1rem;
    transition-duration: 0.7s;
}

.floatingCloseButton {
    display: flex;
    flex-direction: row-reverse;
}

.closeButton {
    cursor: pointer;
}