.dialog {
    width: 800px;
    height: 870px;
    background-color: rgb(255, 255, 255, 0);
    overflow: scroll;
}

.dialog>div {
    position: relative;
    height: 750px;
    background-color: rgb(255, 255, 255, 0.3);
}

.dialog>div:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.character {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 420px;
    bottom: 0;
    z-index: 10;
}

.characterLeftPos{
    left: 0;
}

.characterRightPos{
    right: 0;
}

.laptopZone {
    position: relative;
    width: 50%;
    height: 100%;
}

.seat {
    width: 24px;
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.seatFont {
    font-size: small;
    color: white;
}