.dialog {
    width: 800px;
    height: 870px;
    background-color: rgb(255, 255, 255, 0);
}

.dialog>div {
    background-color: rgb(255, 255, 255, 0.3);
}

.dialog>div:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.character {
    position: absolute;
    bottom: 0;
}

.characterLeftPos{
    left: 0;
}

.characterRightPos{
    right: 0;
}

.laptopZone {
    position: relative;
    width: 50%;
    height: 100%;
}

.seat {
    width: 26px;
    height: 26px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.seatFont {
    font-size: small;
    color: white;
}