.avatarContainer {
    width: 20rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.showAvatarButton {
    padding-block: 1em;
    padding-inline: 1.5em;
    position: absolute;
    bottom: 3%;
    left: 50%;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 1em;
    background: skyblue;
    cursor: pointer;
    transform: translateX(-50%);
}

.showAvatarButton:hover {
    filter: brightness(0.95);
}

@keyframes bounce {

    0%,
    100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}