.dialog {
    width: 100vw;
    min-width: 860px;
    max-width: 970px;
    height: 100vh;
    max-height: 700px;
    background-color: rgb(255, 255, 255, 0);
    overflow: auto;
    z-index: -10;
}

.dialog>div {
    height: 700px;
    position: relative;
    background-color: rgb(255, 255, 255, 0.3);
}

.dialog>div:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.character {
    position: absolute;
    right: -49px;
    bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: red;
    z-index: 10;
    filter: blur(0.7px);
    animation: character 3s ease infinite
}

@keyframes character {
    0%, 100% {
        opacity: 0.7;
    } 50% {
        opacity: 1;
    }
}
.characterLeftPos {
    left: 0;
}

.characterRightPos {
    right: 0;
}

.laptopZone {
    position: relative;
    width: 50%;
    height: 100%;
}

.seat {
    width: 24px;
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.seatFont {
    font-size: small;
    color: white;
}