.contentBox {
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.leftContent {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    backdrop-filter: brightness(0.7);
}
.admissionButton {
    width: 95%;
    height: 3rem;
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 0.25px solid gray;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    word-spacing: 1rem;
}
.admissionButton:hover{
    box-shadow: inset 0px 8px 18px 0px rgb(0 0 0 / 0.2);
}
