.bottomNavBarContainer {
  width: fit-content;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 20px;
  z-index: 10;
}

.menuButton {
  background-color: rgb(255, 255, 255, 0.7);
}

.topCameraModeImage {
  transform: rotate(45deg);
}

.middleCameraModeButton:before {
  content: "Click and ESC";
  /* 말풍선에 표시될 텍스트 */
  position: absolute;
  /* 말풍선을 부모 요소 기준으로 절대 위치 설정 */
  width: 150px;
  bottom: 150%;
  /* 부모 요소 위에 말풍선을 위치 */
  left: 50%;
  /* 부모 요소의 가운데 정렬 */
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  /* 가운데 정렬을 위한 X축 이동 */
  background-color: #333;
  /* 말풍선 배경 색상 */
  color: #fff;
  /* 말풍선 텍스트 색상 */
  padding: 10px;
  /* 말풍선 내부 여백 */
  border-radius: 5px;
  /* 말풍선 모서리 둥글게 */
  white-space: nowrap;
  /* 텍스트 줄바꿈 방지 */
  font-size: 1rem;
  /* 말풍선 텍스트 크기 */
  opacity: 0;
  /* 말풍선 초기 투명도 */
  transition: opacity 0.3s;
  /* 말풍선 투명도 전환 애니메이션 */
  pointer-events: none;
  /* 말풍선에 마우스 이벤트 적용 방지 */
}

.middleCameraModeButton:hover:before {
  opacity: 1;
  /* 마우스를 올렸을 때 말풍선 표시 */
}

/* 말풍선 아래 삼각형 추가 */
.middleCameraModeButton:after {
  content: "";
  position: absolute;
  bottom: 140%;
  /* 말풍선 :before의 bottom 값에 맞춤 */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  /* 삼각형 크기 */
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  /* 위쪽을 제외한 삼각형의 투명도 설정 */
  opacity: 0;
  /* 초기 투명도 */
  transition: opacity 0.3s;
  /* 투명도 전환 애니메이션 */
  pointer-events: none;
  /* 마우스 이벤트 방지 */
}

.middleCameraModeButton:hover:after {
  opacity: 1;
  /* 마우스를 올렸을 때 삼각형 표시 */
}